body {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 36px;
	padding-bottom: 10px;
}

h1:after {
	
	content: 'Mobile';
}

#content {
	text-align: left;
	background-color: #EFEFEF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

#submit {
	
}

#task {
	box-shadow: 0px 0px 3px 0px #999999;
	width: 100%;
}

.taskentry {
	background-color: #D0D0D0;
	padding: 15px;
	margin: 5px;
	opacity: 0;
}

.animate {
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

.show {
	opacity: 1 !important;
}

#tasklist .remove {
	float: right;
	font-size: 10px;
	font-family: Arial, sans-serif;
	position: relative;
	top: -10px;
	right: -10px;
	font-color: #636764;
}