body {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

h1 {
	font-size: 36px;
	padding-bottom: 10px;
}

h1:after {
	font-size: 30px;
	content: 'mobile';
	color: #707070;
	padding-left: 10px;
}

#content {
	text-align: left;
	background-color: #EFEFEF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	font-family: Arial, sans-serif;
}

#submit {
	display: block;
	width: 100%;
	background-color: #E0E0E0;
	border-style: solid;
	border-width: 1px;
	border-color: #D0D0D0;
	height: 40px;
	color: #707070;
	margin-top: 10px;
}

#task {
	box-shadow: 0px 0px 3px 0px #C0C0FF;
	width: 100%;
	border-style: solid;
	border-color: #C0C0FF;
	border-width: 1px;
	padding: 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.taskentry {
	background-color: #D0D0D0;
	padding: 15px;
	padding-right: 45px;
	margin: 5px;
	opacity: 0;
	position: relative;
}

.animate {
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

.show {
	opacity: 1 !important;
}

#tasklist .remove {
	float: right;
	font-size: 30px;
	font-family: Arial, sans-serif;
	position: relative;
	font-color: #636764;
	background-color: #D7D7D7;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	line-height: 100%;
	width: 30px;
	text-align: center;
	color: #707070;

}

.remove div {
	position: relative;
	top: 50%;
	margin-top: -15px;
}