canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    background: black;
    color: white;
    text-align: center;
}


.headField {
	border-right-style: solid;
	border-right-color: white;
	border-right-width: 1px;
	padding-right: 3px;
	padding-left: 3px;
}